.ui-igtreegrid-expandcell{display:inline-block;margin:0 10px 0 0;min-width:10px;cursor:pointer}
.ui-igtreegrid-expandbutton{width:16px;height:16px;float:left;margin:0}
.ui-igtreegrid-expandcol-container{display:inline-block;min-width:10px;cursor:pointer}