@model AspNetIdentity2Permission.Mvc.Models.DepartmentViewModel

@{
    ViewBag.Title = "删除办事机构";
}

<h3>确定删除?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-danger" /> |
            @Html.ActionLink("返回办事机构列表", "Index")
        </div>
    }
</div>
