.ui-iglist-tray{overflow:hidden;-moz-transition:all 1s;-webkit-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.ui-iglist-tray-keyword-one{height:130px}
.ui-iglist-tray-keyword-two{height:195px}
.ui-iglist-tray-keyword-scope-one{height:170px}
.ui-iglist-tray-keyword-scope-two{height:240px}
.ui-iglist-tray-collapsed{height:0}
.ui-iglist-filter-key-word-area{white-space:nowrap;font-weight:normal}
.ui-iglist-filter-key-word-area ul{margin-top:5px;margin-left:-33px}
.ui-iglist-keyword-scope-options{overflow:hidden;width:100%}
.ui-iglist-filter-presets{white-space:nowrap;font-weight:normal;padding-left:10px}
.ui-iglist-filter-presets ul{margin-top:5px;margin-left:-40px}
.ui-iglist-filter-presets div{overflow:hidden;width:100%}
.ui-iglist-sort-presets{white-space:nowrap;font-weight:normal;padding-left:10px}
.ui-iglist-sort-presets ul{margin-top:5px;margin-left:-40px}
.ui-iglist-sort-presets div{overflow:hidden;width:100%}
.ui-iglist-preset{min-width:44px;overflow:hidden;cursor:pointer;padding:3px}
.ui-iglist-preset-selected{font-weight:bold}
.ui-iglist-preset-hidden{filter:alpha(opacity=50);opacity:.5}
.ui-iglist-tray-footer{font-weight:normal;height:17px;text-align:right;display:none}
.ui-iglist-tray-footer-collapsed{display:block;line-height:2em;height:2em;padding-right:10px;position:relative}
.ui-iglist-tray-footer .ui-icon{position:absolute;right:10px;top:50%;margin-top:-9px}
.ui-iglist-tray-collapse{font-weight:normal;height:2em;line-height:2em;text-align:right;display:none;padding-right:40px;position:relative}
.ui-iglist-tray-collapse-open{display:block}
.ui-iglist-tray-collapse .ui-icon{margin-top:-9px;position:absolute;right:10px;top:50%}
.ui-iglist-tray-footer-item{white-space:ellipsis;max-width:30%;font-weight:bold}
.ui-iglist-tray-footer-empty{position:absolute;right:40px}
.ui-iglist-tray-footer-empty-icon{position:absolute;right:10px}
.ui-iglist-details{margin-bottom:15px;margin-right:-15px;margin-left:-15px}
.ui-iglist-search-scope-hidden{display:none}
.ui-iglist-load-more{margin-top:30px;margin-bottom:0}
.ui-listview-filter .ui-iglist-filter-key-word-area .ui-iglist-input-search-container{width:100%;min-width:175px}
.ui-listview-filter .ui-iglist-filter-key-word-area .ui-igelastic-block{display:table-cell;vertical-align:middle}
.ui-icon.ui-igrating-vote,.ui-icon.ui-igrating-voteselected,.ui-igrating-votehover,.ui-igrating-votereadonly,.ui-igrating-votereadonlyselected{background-image:url('images/ig-rating.png');background-color:transparent;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;-moz-background-size:131px 63px;-webkit-background-size:131px 63px;-o-background-size:131px 63px;background-size:131px 63px}
@media only screen and (-webkit-min-device-pixel-ratio :1.5),only screen and (min-device-pixel-ratio :1.5){.ui-icon.ui-igrating-vote,.ui-icon.ui-igrating-voteselected,.ui-igrating-votehover,.ui-igrating-votereadonly,.ui-igrating-votereadonlyselected{background-image:url('images/ig-rating@2.png')}
}
.ui-igrating-vote{background-position:-44px 0;width:44px;height:44px}
.ui-igrating-voteselected{background-position:0 0}
.ui-igrating-votehover{background-position:-88px 0}
.ui-igrating-votereadonly{background-position:-44px -44px;width:20px;height:20px}
.ui-igrating-votereadonlyselected{background-position:0 -44px}